* {
    font-family: 'Poppins', sans-serif;
    background-color: floralwhite;
    text-align: center;
    color: rgb(22, 22, 22);
    h1 {
        font-size: 36px;
        color: deeppink;
    }
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid deeppink;
    background-color: rgb(255, 223, 230);
    color: rgb(69, 13, 42);
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
}

/* TASK FORM START */
form div {
    margin: 15px;
}

label {
   display: flex;
   flex-direction: column;
   padding-bottom: 5px;
   font-size: 20px;
}

textarea, 
select,
input {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid pink;
    color: rgb(69, 13, 42);
}

textarea {
    resize: none;
    height: 100px;
}
/* TASK FORM END */